!!! 5
%html
  %head
    %title inx-arena-tournament
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    = stylesheet_link_tag    "all", :media => "all"
    = javascript_include_tag "all"
    = csrf_meta_tags
  %body
